<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="text-align: center; font-family: Arial, sans-serif;">
    <h1>Astronomy Picture of the Day</h1>
    <h2>{{ title }}</h2>
    <p>{{ description }}</p>
    <img src="{{ image_url }}" alt="Immagine NASA" style="max-width: 80%; height: auto; margin: 20px auto;" />
    <br>
    <a href="/" style="margin-top: 20px; display: block;">Torna alla Home</a>
</body>
</html>